<h1>Welcome</h1>

<%= form_with method: :get do |f| %>
  <div>
  <%= f.label "Departure" %>
  <%= f.select(:departure_code, @airports_options, prompt: true) %>
  </div>
  <div>
  <%= f.label "Arrival" %>
  <%= f.select(:arrival_code, @airports_options, prompt: true) %>
  </div>
  <div>
  <%= f.label "Number of tickets" %>
  <%= f.select(:num_tickets, @num_tickets_options, prompt: true) %>
  </div>
  <div>
  <%= f.label "Date" %>
  <%= f.select(:date, @date_options, prompt: true) %>
  </div>
  <%= f.submit "Search" %>
<% end %>

<% if @flights.empty? %>
  <h4>No flights found</h4>
<% else %>
  <%= form_with url: new_booking_path, method: :get do |f| %>
    <%= f.hidden_field :num_tickets, value: params[:num_tickets] %>
    <% for flight in @flights %>
      <div style="display:flex">
        <%= f.radio_button :flight_id, flight.id %>
        <div style="margin-left:1rem">
          <p>Departure: <%= flight.departure_airport.code %></p>
          <p>Arrival: <%= flight.arrival_airport.code %></p>
          <p>Departure date: <%= flight.departure_time %></p>
          <p>Duration: <%= flight.duration %> minutes</p>
        </div>
      </div>
    <% end %>
    <%= f.submit "Select Flight" %>
  <% end %>
<% end %>
